<div class="login-page" [@routerTransitionToLeft]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" />
            <h1>Erasmus AGH</h1>
            <h1>{{'Change password request form' | translate}}</h1>
            <p-progressSpinner *ngIf="showResetSpinner"></p-progressSpinner>
            <form [formGroup]="resetPasswordForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text"
                               class="form-control input-underline input-lg"
                               [style.border] = "!resetPasswordForm.controls['email'].valid ? '1px solid red' : ''"
                               placeholder="@Email"
                               formControlName="email"
                               [(ngModel)]="resetPasswordData.email"
                               name="email">
                    </div>
                </div>
            </form>
            <a class="btn rounded-btn" [routerLink]="['/login']"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{'Log in' | translate }}</a>
            <button class="btn rounded-btn" [disabled]="!resetPasswordForm.valid" (click)="sendResetPasswordRequest()"><i class="fa fa-check-circle" aria-hidden="true"></i> {{'Send reset password request' | translate }}</button>&nbsp;
        </div>
    </div>
</div>
