<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" />
            <h1>Erasmus AGH</h1>
            <h1>{{'Change password form' | translate}}</h1>
            <p-progressSpinner *ngIf="showResetSpinner"></p-progressSpinner>
            <form [formGroup]="resetPasswordConfirmForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="password"
                               class="form-control input-underline input-lg"
                               [style.border] = "!resetPasswordConfirmForm.controls['newPassword'].valid || resetPasswordConfirmData.newPassword !== resetPasswordConfirmData.newRepeatedPassword ? '1px solid red' : ''"
                               placeholder="New password"
                               formControlName="newPassword"
                               [(ngModel)]="resetPasswordConfirmData.newPassword"
                               name="newPassword" i18n-placeholder>
                    </div>
                    <div class="form-group">
                        <input type="password"
                               class="form-control input-underline input-lg"
                               [style.border] = "!resetPasswordConfirmForm.controls['newRepeatedPassword'].valid || resetPasswordConfirmData.newPassword !== resetPasswordConfirmData.newRepeatedPassword ? '1px solid red' : ''"
                               placeholder="New password repeated"
                               formControlName="newRepeatedPassword"
                               [(ngModel)]="resetPasswordConfirmData.newRepeatedPassword"
                               name="newRepeatedPassword" i18n-placeholder>
                    </div>
                </div>
            </form>
            <a class="btn rounded-btn" [routerLink]="['/login']"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{'Log in' | translate }}</a>
            <button class="btn rounded-btn"
                    [disabled]="!resetPasswordConfirmForm.valid || resetPasswordConfirmData.newPassword !== resetPasswordConfirmData.newRepeatedPassword"
                    (click)="sendResetPasswordRequest()">
                <i class="fa fa-check-circle" aria-hidden="true"></i> {{'Change password' | translate }}
            </button>&nbsp;
        </div>
    </div>
</div>
