<div [@routerTransition]>
    <app-page-header [heading]="'Schema editor' | translate" [icon]="'fa-clipboard'"></app-page-header>
    <div>
        <p-tabView (onChange)="getHistoricalSchemas($event)">
            <p-tabPanel header="{{'Current schema' | translate}}">
                <div class="form-group row">
                    <label for="reason-text-input" class="col-2 col-form-label">{{'Modification reason' | translate}}</label>
                    <div class="col-10">
                        <input class="form-control" type="text" [(ngModel)]="schema.modificationReason" id="reason-text-input">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 text-xs-center">
                        <p-confirmDialog acceptLabel="{{'Yes' | translate}}" rejectLabel="{{'No' | translate}}"></p-confirmDialog>
                        <button (click)="confirmSaveSchema()" type="button" class="btn btn-success btn-lg" [disabled]="!isValid">{{'Save schema' | translate}}</button>
                        <br>
                        <br>
                        <div ace-editor
                             [(text)]="schemaContent"
                             [mode]="'javascript'"
                             [theme]="'eclipse'"
                             [readOnly]="false"
                             [autoUpdateContent]="true"
                             [durationBeforeCallback]="0"
                             (textChanged)="onChange($event)"
                             style="height: 700px; width:100%; overflow: auto; font-size: 20px"></div>
                    </div>
                    <div class="col-xl-6 text-xs-center">
                        <br>
                        <br>
                        <br>
                        <iframe [src]="getPdfBase64Content() | safe" width="100%" height="700px"></iframe>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'Historical schemas' | translate}}">
                <div class="row">
                    <div class="col-xl-6 text-xs-center">
                        <div class="jumbotron" *ngIf="historicalSchemas == undefined">
                            <h1>{{'No historical schemas' | translate}}</h1>
                        </div>
                        <table class="table table-hover" *ngIf="historicalSchemas != undefined">
                            <thead>
                                <tr>
                                    <th>{{'Schema modification date' | translate}}</th>
                                    <th>{{'Schema modified by' | translate}}</th>
                                    <th>{{'Modification reason' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let schema of historicalSchemas; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                                    <td>{{schema.modified}}</td>
                                    <td>{{schema.modifiedByUsername}}</td>
                                    <td>{{schema.modificationReason}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xl-6 text-xs-center">
                        <div class="jumbotron" *ngIf="selectedRow == undefined && historicalSchemas != undefined">
                            <h1>{{'Please select schema' | translate}}</h1>
                        </div>
                        <p-tabView *ngIf="selectedRow != undefined">
                            <p-tabPanel header="Pdf view">
                                <iframe [src]="getPdfBase64ContentForHistoricalSchema() | safe" width="100%" height="700px"  type="application/pdf">></iframe>
                            </p-tabPanel>
                            <p-tabPanel header="Content view">
                                <div ace-editor
                                     [(text)]="historicalContent"
                                     [mode]="'javascript'"
                                     [theme]="'eclipse'"
                                     [options]="options"
                                     [readOnly]="true"
                                     [autoUpdateContent]="true"
                                     [durationBeforeCallback]="0"
                                     style="height: 700px; width:100%; overflow: auto; font-size: 20px"></div>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'Instruction' | translate}}">
                <h2>{{'Playground with examples' | translate}}: <a target="_blank" href="http://pdfmake.org/playground.html">link</a></h2>
                <p-panel>
                    <table class="table table-hover">
                        <tr>
                            <th>Tag</th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td><%code%></td>
                            <td>university code in agreement</td>
                        </tr>
                        <tr>
                            <td><%coordinator%></td>
                            <td>coordinator in agreement</td>
                        </tr>
                        <tr>
                            <td><%country%></td>
                            <td>country in agreement</td>
                        </tr>
                        <tr>
                            <td><%department%></td>
                            <td>department in agreement</td>
                        </tr>
                        <tr>
                            <td><%duration%></td>
                            <td>duration in agreement</td>
                        </tr>
                        <tr>
                            <td><%endYear%></td>
                            <td>end year of agreement in agreement</td>
                        </tr>
                        <tr>
                            <td><%startYear%></td>
                            <td>start year of agreement in agreement</td>
                        </tr>
                        <tr>
                            <td><%departmentCoordinator%></td>
                            <td>department coordinator in agreement</td>
                        </tr>
                        <tr>
                            <td><%universityName%></td>
                            <td>university name in agreement</td>
                        </tr>
                        <tr>
                            <td><%vacancies%></td>
                            <td>number of vacancies in agreement</td>
                        </tr>
                        <tr>
                            <td><%uLan%></td>
                            <td>user's languages</td>
                        </tr>
                        <tr>
                            <td><%uLGr%></td>
                            <td>user's languages grades</td>
                        </tr>
                        <tr>
                            <td><%uLCe%></td>
                            <td>user's languages certificates types</td>
                        </tr>
                        <tr>
                            <td><%uAdd%></td>
                            <td>user's address</td>
                        </tr>
                        <tr>
                            <td><%uDep%></td>
                            <td>user's department</td>
                        </tr>
                        <tr>
                            <td><%uEma%></td>
                            <td>user's email</td>
                        </tr>
                        <tr>
                            <td><%uFir%></td>
                            <td>user's firstName</td>
                        </tr>
                        <tr>
                            <td><%uFac%></td>
                            <td>user's faculty</td>
                        </tr>
                        <tr>
                            <td><%uGpa%></td>
                            <td>user's grade</td>
                        </tr>
                        <tr>
                            <td><%uHCS%></td>
                            <td>information if user has completed semester</td>
                        </tr>
                        <tr>
                            <td><%uHDi%></td>
                            <td>information if user has disabilities</td>
                        </tr>
                        <tr>
                            <td><%uHSS%></td>
                            <td>information if user has social scholarship</td>
                        </tr>
                        <tr>
                            <td><%uINu%></td>
                            <td>user's index number</td>
                        </tr>
                        <tr>
                            <td><%uLNa%></td>
                            <td>user's last name</td>
                        </tr>
                        <tr>
                            <td><%uPho%></td>
                            <td>user's phone</td>
                        </tr>
                        <tr>
                            <td><%uUni%></td>
                            <td>user's university</td>
                        </tr>
                        <tr>
                            <td><%uYOS%></td>
                            <td>user's year of study</td>
                        </tr>
                        <tr>
                            <td><%uFSD%></td>
                            <td>information if user on first semester on second degree</td>
                        </tr>
                        <tr>
                            <td><%uSDe%></td>
                            <td>user's degree</td>
                        </tr>
                        <tr>
                            <td><%uFSO%></td>
                            <td>information if user from the same department as offer</td>
                        </tr>
                        <tr>
                            <td><%uEHP%></td>
                            <td>information if user participated on previous erasmus edition</td>
                        </tr>
                        <tr>
                            <td><%uEDe%></td>
                            <td>information of user previous erasmus participation - studies degree</td>
                        </tr>
                        <tr>
                            <td><%uEMN%></td>
                            <td>information of user previous erasmus participation - duration</td>
                        </tr>
                        <tr>
                            <td><%sem%></td>
                            <td>information of participation - which semesters he is try to attend</td>
                        </tr>
                    </table>
                </p-panel>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
