<div [@routerTransition]>
    <app-page-header [heading]="'Users' | translate" [icon]="'fa-list'"></app-page-header>
    <h2>{{'All Users' | translate}}:</h2>
    <div class="col-md-9">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="query">
            <span class="input-group-btn">
        <button class="btn btn-primary" type="button">{{'Search' | translate}}!</button>
      </span>
        </div>
    </div>
    <br>

    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4"><b>{{'Name and Surname' | translate}}</b></div>
            <div class="col-md-2"><b>{{'Department' | translate}}</b></div>
            <div class="col-md-2"><b>{{'Role' | translate}}</b></div>
            <div class="col-md-2"><b>{{'Details' | translate}}</b></div>
            <div class="col-md-2"><b>{{'Change role' | translate}}</b></div>
        </div>
    </div>
    <div class="col-md-9">
        <a *ngFor="let user of users | search:'firstName,lastName,department,universityRole':query; let i = index"
           class="list-group-item">
            <br>
            <div class="row">
                <div class="col-md-4">{{user.lastName}} {{user.firstName}}</div>
                <div class="col-md-2">{{user.department}}</div>
                <div class="col-md-2">{{user.universityRole}}</div>
                <div class="col-md-2">
                    <button (click)="open(content)" type="button" class="btn btn-primary">{{'Details' | translate}}
                    </button>
                    <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-header">
                            <h4 class="modal-title">User details</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{'First Name' | translate}}: {{user.firstName}}</p>
                            <p>{{'Last Name' | translate}}: {{user.lastName}}</p>
                            <p>{{'Index number' | translate}}:{{user.indexNumber}}</p>
                            <p>{{'University' | translate}}: {{user.university}}</p>
                            <p>{{'Department' | translate}}: {{user.department}}</p>
                            <p>{{'Faculty' | translate}}: {{user.faculty}}</p>
                            <p>{{'University Role' | translate}}: {{user.universityRole}}</p>
                            <p>{{'Year of study' | translate}}: {{user.yearOfStudy}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                        </div>
                    </ng-template>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" (click)="showDisplayChangeRoleDialog(i)">{{'Change role' | translate}}</button>
                </div>
            </div>
            <br>
        </a>
        <p-dialog header="{{'Change role' | translate}}" [draggable]="true" [resizable]="false" [(visible)]="displayChangeRole" modal="modal" [responsive]="true" [width]="350" [minWidth]="200">
            <p-dropdown [options]="roles" [(ngModel)]="currentUniversityUserChangeRole" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
            <p-footer>
                <button type="button" class="btn btn-success" (click)="saveUserChanges()">{{'Save' | translate}}</button>
                &nbsp;
                <button type="button" class="btn btn-default" (click)="displayChangeRole=false">{{'Back' | translate}}</button>
            </p-footer>
        </p-dialog>
    </div>
</div>
