<div [@routerTransition]>
    <app-page-header *ngIf="!isAdmin" [heading]="'Enroll' | translate" [icon]="'fa-list'"></app-page-header>
    <app-page-header *ngIf="isAdmin" [heading]="'Modify users forms' | translate" [icon]="'fa-list'"></app-page-header>

    <div *ngIf="(isAdmin && currentState === 'QUALIFICATIONS') || (!isAdmin && currentState === 'ENROLLMENT')">
        <br>
        <p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>
    </div>
    <br>
    <div class="alert alert-info" role="alert" *ngIf="isAdmin && currentState !== 'QUALIFICATIONS'">
        <h4 class="alert-heading">{{'Attention' | translate}}!</h4>
        <p>- {{'You can change user preferences only during qualification state' | translate}}. </p>
    </div>
    <div class="alert alert-info" role="alert" *ngIf="!isAdmin && currentState !== 'ENROLLMENT'">
        <h4 class="alert-heading">{{'Attention' | translate}}!</h4>
        <p>- {{'Enrollment is currently closed' | translate}}. </p>
    </div>
    <div layout-align="center"
         *ngIf="(isAdmin && currentState === 'QUALIFICATIONS') || (!isAdmin && currentState === 'ENROLLMENT')">
        <!--CHOOSE USER - ADMIN-->
        <div *ngIf="activeIndex==0 && isAdmin">
            <h2>{{'All Users' | translate}}:</h2>
            <div class="col-md-9">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="query">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">{{'Search' | translate}}!</button>
                    </span>
                </div>
            </div>
            <br>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-2"><b>{{'Name' | translate}}</b></div>
                    <div class="col-md-2"><b>{{'Surname' | translate}}</b></div>
                    <div class="col-md-2"><b>{{'Index number' | translate}}</b></div>
                    <div class="col-md-2"><b>{{'Department' | translate}}</b></div>
                    <div class="col-md-2"><b>{{'Faculty' | translate}}</b></div>
                    <div class="col-md-2"><b>{{'Choose' | translate}}</b></div>
                </div>
            </div>
            <div class="col-md-9">
                <a *ngFor="let user of users | search:'firstName,lastName,department,indexNumber,faculty':query"
                   class="list-group-item">
                    <br>
                    <div class="row">
                        <div class="col-md-2">{{user.firstName}}</div>
                        <div class="col-md-2">{{user.lastName}}</div>
                        <div class="col-md-2">{{user.indexNumber}}</div>
                        <div class="col-md-2">{{user.department}}</div>
                        <div class="col-md-2">{{user.faculty}}</div>
                        <div class="col-md-2">
                            <button (click)="chooseUser(user)" type="button" class="btn btn-primary">{{'Choose' |
                                translate}}
                            </button>
                        </div>
                    </div>
                    <br>
                </a>
            </div>
        </div>

        <!--AGREEMENTS-->
        <div *ngIf="(!isAdmin && activeIndex==0) || (isAdmin && activeIndex==1)">
            <p-pickList [source]="sourceAgreements" [target]="targetAgreements" dragdrop="true" [responsive]="true"
                        [sourceStyle]="{'height':'420px'}"
                        [targetStyle]="{'height':'300px'}" filterBy="universityName,country"
                        sourceFilterPlaceholder="Szukaj po nazwie uniwersytetu, kraju lub kodzie..."
                        targetFilterPlaceholder="Szukaj po nazwie uniwersytetu, kraju lub kodzie..."
                        sourceHeader="Dostępne umowy" targetHeader="Twoje aplikacje (w kolejności priorytetu)">
                <ng-template let-agreement pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="w-25">{{agreement.country}}</td>
                                <td class="w-50">{{agreement.universityName}}</td>
                                <td hidden>{{agreement.code}}</td>
                                <td class="w-25">
                                    <button (click)="open(content)" type="button" class="btn btn-primary">{{'Details' |
                                        translate }}
                                    </button>
                                    <ng-template #content let-c="close" let-d="dismiss">
                                        <div class="modal-header">
                                            <h4 class="modal-title">{{'Agreement' | translate}}</h4>
                                            <button type="button" class="close" aria-label="Close"
                                                    (click)="d('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>{{'Country' | translate}}: {{agreement.country}}</p>
                                            <p>{{'University Name' | translate}}: {{agreement.universityName}}</p>
                                            <p>{{'Coordinator' | translate}}: {{agreement.coordinator}}</p>
                                            <p *ngIf="agreement.departmentCoordinator">{{'Department Coordinator' |
                                                translate}}:
                                                {{agreement.departmentCoordinator}}</p>
                                            <p>{{'Department' | translate}}: {{agreement.department}}</p>
                                            <p>{{'Code' | translate}}: {{agreement.code}}</p>
                                            <p>{{'From' | translate}}: {{agreement.startYear}} {{'to' | translate}}
                                                {{agreement.endYear}}</p>
                                            <p *ngIf="agreement.duration">{{'Duration' | translate}}:
                                                {{agreement.duration}}</p>
                                            <p *ngIf="agreement.vacancies">{{'Vacancies' | translate}}:
                                                {{agreement.vacancies}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" (click)="c('Close click')">
                                                {{'Close' | translate}}
                                            </button>
                                        </div>
                                    </ng-template>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </p-pickList>
        </div>


        <!--APPLICATIONS DURATIONS-->
        <div *ngIf="(!isAdmin && activeIndex==1) || (isAdmin && activeIndex==2)">
            <div *ngFor="let targetAgreement of targetAgreements; let i = index">
                <div class="row justify-content-md-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                {{targetAgreement.code}} - {{targetAgreement.universityName}}
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4">
                                        <div><b>{{'University code' | translate}}</b>: {{targetAgreement.code}}</div>
                                        <div><b>{{'University name' | translate}}</b>: {{targetAgreement.universityName}}</div>
                                        <div><b>{{'University name' | translate}}</b>: {{targetAgreement.universityName}}</div>
                                        <div><b>{{'Agreement coordinator' | translate}}</b>: {{targetAgreement.coordinator}}</div>
                                        <div><b>{{'Department coordinator' | translate}}</b>: {{targetAgreement.departmentCoordinator}}</div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4">
                                        <h5>{{'Planned time of visit in months' | translate}}</h5>
                                        <p-spinner [(ngModel)]="targetAgreementsDuration[i]" [min]="0" [max]="12"></p-spinner>
                                    </div>
                                    <div class="col-xl-4 col-lg-4">
                                        <h5>{{'Planned semester of visit' | translate}}</h5>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" [(ngModel)]="targetAgreementsSemesters[i]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>

        <!--PROFILE-->
        <div *ngIf="(!isAdmin && activeIndex==2) || (isAdmin && activeIndex==3)">
            <h1>{{ profileData.firstName }} {{ profileData.lastName }}</h1>
            <hr>
            <form [formGroup]="profileForm" id="profileForm" >
                <div class="row">
                    <div class="col-sm-4">
                        <h3>{{'Basic information' | translate}}:</h3>
                        <div class="form-group input-group">
                            <span class="input-group-addon">@Email</span>
                            <input class="form-control" style="text-align:right;" type="text" placeholder={{profileData.email}} disabled>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">{{'Account type' | translate }}</span>
                            <input class="form-control" style="text-align:right;" type="text"
                                   placeholder="{{profileData.universityRole}}"
                                   disabled>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">{{'University Name' | translate }}</span>
                            <input class="form-control"
                                   [style.border] = "!profileForm.controls['university'].valid ? '1px solid red' : ''"
                                   style="text-align:right;" type="text"
                                   formControlName="university"
                                   [(ngModel)]="profileData.university">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">{{'Department' | translate }}</span>
                            <select class="form-control" style="text-align-last: right;"
                                    [style.border] = "!profileForm.controls['department'].valid ? '1px solid red' : ''"
                                    formControlName="department"
                                    [(ngModel)]="profileData.department">
                                <option>WIEiT</option>
                                <option>WGiG</option>
                                <option>WIMiR</option>
                                <option>WEAiIB</option>
                                <option>WGGiOŚ</option>
                                <option>WGGiIŚ</option>
                                <option>WIMiC</option>
                                <option>WIMiIP</option>
                                <option>WO</option>
                                <option>WMN</option>
                                <option>WWNiG</option>
                                <option>WZ</option>
                                <option>WEiP</option>
                                <option>WMS</option>
                                <option>WH</option>
                                <option>WFiIS</option>
                            </select>
                        </div>
                        <div class="form-group input-group" *ngIf="profileData.department.toLowerCase()!='wieit'">
                            <span class="input-group-addon">{{'Faculty' | translate }}</span>
                            <input class="form-control"
                                   [style.border] = "!profileForm.controls['faculty'].valid ? '1px solid red' : ''"
                                   formControlName="faculty"
                                   style="text-align:right;"
                                   type="text"
                                   [(ngModel)]="profileData.faculty">
                        </div>
                        <div class="form-group input-group" *ngIf="profileData.department.toLowerCase()==='wieit'">
                            <span class="input-group-addon">{{'Faculty' | translate }}</span>
                            <select class="form-control"
                                    style="text-align-last: right;"
                                    [style.border] = "!profileForm.controls['faculty'].valid ? '1px solid red' : ''"
                                    formControlName="faculty"
                                    [(ngModel)]="profileData.faculty">
                                <option>Informatyka</option>
                                <option>Elektronika</option>
                                <option>Teleinformatyka</option>
                                <option>Elektronika i Telekomunikacja</option>
                                <option>Electronics and Telecommunications (EN)</option>
                            </select>
                        </div>
                        <div *ngIf="isStudent" class="form-group input-group">
                            <span class="input-group-addon">{{'Index number' | translate }}</span>
                            <input class="form-control"
                                   style="text-align:right;"
                                   type="text"
                                   [(ngModel)]="profileData.indexNumber"
                                   [style.border] = "!profileForm.controls['indexNumber'].valid ? '1px solid red' : ''"
                                   formControlName="indexNumber">
                        </div>
                        <div *ngIf="isStudent" class="form-group input-group">
                            <span class="input-group-addon">{{'Studies Degree' | translate }}</span>
                            <select class="form-control"
                                    style="text-align-last: right;"
                                    [style.border] = "!profileForm.controls['studiesDegree'].valid ? '1px solid red' : ''"
                                    [(ngModel)]="profileData.studiesDegree"
                                    formControlName="studiesDegree">
                                <option value="BACHELOR">{{'BACHELOR' | translate}}</option>
                                <option value="MASTERS">{{'MASTERS' | translate}}</option>
                                <option value="DOCTORATE">{{'DOCTORATE' | translate}}</option>
                                <option value="SUPPLEMENTARY">{{'SUPPLEMENTARY' | translate}}</option>
                            </select>
                        </div>
                        <div *ngIf="isStudent" class="form-group input-group">
                            <span class="input-group-addon">{{'Year of study' | translate }}</span>
                            <select class="form-control"
                                    style="text-align-last: right;"
                                    [style.border] = "!profileForm.controls['yearOfStudy'].valid ? '1px solid red' : ''"
                                    [(ngModel)]="profileData.yearOfStudy"
                                    formControlName="yearOfStudy">
                                <option>1</option>
                                <option>2</option>
                                <option *ngIf="profileData.studiesDegree==='BACHELOR'">3</option>
                                <option *ngIf="profileData.studiesDegree==='BACHELOR'">4</option>
                            </select>
                        </div>
                        <div *ngIf="isStudent" class="form-group input-group">
                            <span class="input-group-addon">{{'Completed semester' | translate }}</span>
                            <select class="form-control"
                                    style="text-align-last:right;"
                                    [style.border] = "!profileForm.controls['completedSemester'].valid ? '1px solid red' : ''"
                                    type="text"
                                    formControlName="completedSemester"
                                    [(ngModel)]="profileData.completedSemester">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option *ngIf="profileData.studiesDegree==='BACHELOR'">4</option>
                                <option *ngIf="profileData.studiesDegree==='BACHELOR'">5</option>
                                <option *ngIf="profileData.studiesDegree==='BACHELOR'">6</option>
                                <option *ngIf="profileData.studiesDegree==='BACHELOR'">7</option>
                            </select>
                        </div>
                        <div *ngIf="isStudent" class="form-group input-group">
                            <span class="input-group-addon">{{'GPA' | translate }}</span>
                            <input class="form-control"
                                   style="text-align:right;"
                                   type="text"
                                   [style.border] = "!profileForm.controls['gpa'].valid ? '1px solid red' : ''"
                                   formControlName="gpa"
                                   [(ngModel)]="profileData.gpa">
                        </div>
                        <div *ngIf="isStudent" class="form-group input-group">
                            <span class="input-group-addon">{{'Address' | translate }}</span>
                            <input class="form-control"
                                   style="text-align:right;"
                                   [style.border] = "!profileForm.controls['address'].valid ? '1px solid red' : ''"
                                   type="text"
                                   formControlName="address"
                                   [(ngModel)]="profileData.address">
                        </div>
                        <div *ngIf="isStudent" class="form-group input-group">
                            <span class="input-group-addon">{{'Phone' | translate }}</span>
                            <input
                                class="form-control"
                                style="text-align:right;"
                                [style.border] = "!profileForm.controls['phone'].valid ? '1px solid red' : ''"
                                type="text"
                                formControlName="phone"
                                [(ngModel)]="profileData.phone">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div *ngIf="isStudent">
                            <h3>{{'Additional information' | translate}}:</h3>
                            <div class="form-group">
                                <label>
                                    {{'Scholarship' | translate }} <input type="checkbox" value="" [ngModelOptions]="{standalone: true}"
                                                                          [(ngModel)]="profileData.hasSocialScholarship">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    {{'Disabilities' | translate }} <input type="checkbox" value="" [ngModelOptions]="{standalone: true}"
                                                                           [(ngModel)]="profileData.hasDisabilities">
                                </label>
                            </div>
                            <div class="form-group" *ngIf="profileData.hasDisabilities || profileData.hasPowerScholarship">
                                <label>
                                    {{'POWER Scholarship' | translate }} <input type="checkbox" value="" [ngModelOptions]="{standalone: true}"
                                                                                [(ngModel)]="profileData.hasPowerScholarship">
                                </label>
                            </div>
                        </div>
                        <div *ngIf="isStudent">
                            <p>
                                <button type="button" class="btn btn-outline-primary"
                                        (click)="isPrevParticipationCollapsed = !isPrevParticipationCollapsed"
                                        [attr.aria-expanded]="!isPrevParticipationCollapsed">
                                    {{'Previous participation' | translate }}
                                </button>
                            </p>
                            <div [ngbCollapse]="isPrevParticipationCollapsed" *ngIf="profileData.erasmusParticipation">
                                <div class="form-group input-group">
                                    <span class="input-group-addon">{{'Year of study' | translate }}</span>
                                    <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="profileData.erasmusParticipation.yearOfStudy">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">{{'Studies degree' | translate }}</span>
                                    <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="profileData.erasmusParticipation.studiesDegree">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">{{'Duration' | translate }}</span>
                                    <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="profileData.erasmusParticipation.duration">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div *ngIf="isStudent">
                            <h3>{{'Languages certificates' | translate}}:</h3>
                            <p>
                                <button type="button" class="btn btn-outline-primary"
                                        (click)="isLanguagesCollapsed = !isLanguagesCollapsed"
                                        [attr.aria-expanded]="!isLanguagesCollapsed">
                                    {{'Language certificates' | translate }}
                                </button>
                            </p>
                            <div [ngbCollapse]="isLanguagesCollapsed" *ngIf="profileData.language">
                                <h4>{{'First certificate' | translate }}</h4>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">{{'Language name' | translate }}</span>
                                    <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="profileData.language[0].name">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">{{'Exam level' | translate }}</span>
                                    <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="profileData.language[0].examLevel">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">{{'Grade' | translate }}</span>
                                    <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="profileData.language[0].grade">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">{{'Certificate' | translate }}</span>
                                    <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="profileData.language[0].certificateType">
                                </div>
                                <h5 *ngIf="profileData.language[0].certificateFileId && !firstCertificateFile">{{'Already sent scan' | translate}}: {{profileData.language[0].certificateFileName}}</h5>
                                <div class="form-group input-group">
                                    <input type="file" class="form-control-file" aria-describedby="fileHelp"
                                           (change)="setFirstCertificate($event)">
                                </div>
                                <h4>{{'Second certificate' | translate }}</h4>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">{{'Language name' | translate }}</span>
                                    <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="profileData.language[1].name">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">{{'Exam level' | translate }}</span>
                                    <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="profileData.language[1].examLevel">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">{{'Grade' | translate }}</span>
                                    <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="profileData.language[1].grade">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">{{'Certificate' | translate }}</span>
                                    <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="profileData.language[1].certificateType">
                                </div>
                                <h5 *ngIf="profileData.language[1].certificateFileId && !secondCertificateFile">{{'Already sent scan' | translate}}: {{profileData.language[1].certificateFileName}}</h5>
                                <div class="form-group input-group">
                                    <input type="file" class="form-control-file" aria-describedby="fileHelp"
                                           (change)="setSecondCertificate($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-sm-10">
                <button *ngIf="!isFirstIndex()" (click)="prevIndex()" type="button"
                        class="btn float-right btn-primary btn-lg">
                    {{'Back' | translate}}
                </button>
            </div>
            <div class="col-sm-2" *ngIf="!isLastIndex() && !(isAdmin && activeIndex==0)">
                <button (click)="nextIndex()" type="button" class="btn btn-success btn-lg" style="margin-right: 5%">
                    {{'Next' | translate}}
                </button>
            </div>
            <div class="col-sm-2" *ngIf="isLastIndex()">
                <button (click)="savePriorityList()" type="button" class="btn btn-success btn-lg" style="margin-right: 5%"
                        [disabled]="!profileForm.valid">
                    {{'Save' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>
