<div class="login-page" [@routerTransitionToRight]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" />
            <h1>Erasmus AGH</h1>
            <h1>{{'Log in form' | translate}}</h1>
            <p-progressSpinner *ngIf="showLoggingSpinner"></p-progressSpinner>
            <form [formGroup]="profileLoginForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text"
                               [(ngModel)]="userLoginModel.email"
                               name="userEmail"
                               formControlName="email"
                               class="form-control input-underline input-lg"
                               [style.border] = "!profileLoginForm.controls['email'].valid && profileLoginForm.controls['email'].dirty ? '1px solid red' : ''"
                               id="userEmail"
                               placeholder="@Email">
                    </div>

                    <div class="form-group">
                        <input type="password"
                               [(ngModel)]="userLoginModel.password"
                               name="password"
                               formControlName="password"
                               class="form-control input-underline input-lg"
                               [style.border] = "!profileLoginForm.controls['password'].valid && profileLoginForm.controls['password'].dirty ? '1px solid red' : ''"
                               id="password"
                               [placeholder]="'Password' | translate">
                    </div>
                </div>
                <button class="btn rounded-btn" [disabled]="!profileLoginForm.valid" (click)="onLoggedin()"><i class="fa fa-sign-in"></i> {{'Log in' | translate }} </button>
                <br/>
                <br/>
                <button class="btn rounded-btn" [routerLink]="['/signup']">{{'Register' | translate }} <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                &nbsp;
                <button class="btn rounded-btn" [routerLink]="['/reset-password']">{{'Reset password' | translate }} <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>
