<div [@routerTransition]>
    <app-page-header [heading]="'Matrix' | translate" [icon]="'fa-wrench'"></app-page-header>

    <div class="alert alert-info" role="alert" *ngIf="currentState !== 'QUALIFICATIONS'">
        <h4 class="alert-heading">{{'Attention' | translate}}!</h4>
        <p>- {{'You can modify qualifications only during department qualifications state' | translate}}. </p>
    </div>

    <div *ngIf="currentState === 'QUALIFICATIONS'">
        <div class="form-group">
            <label style="font-size: 200%">{{'Display policy' | translate }}</label>
            <select [(ngModel)]="selectedDisplayPolicy" class="form-control" (change)="changeDisplay($event.target.value)">
                <option value="All agreements">{{'All agreements' | translate }}</option>
                <option value="Only agreements without forms">{{'Only agreements without forms' | translate }}</option>
                <option value="Only agreements with forms" >{{'Only agreements with forms' | translate }}</option>
            </select>
        </div>

        <button *ngIf="!isCoordinator" (click)="updateMatrixWithSuggestedMatrix()" type="button" class="btn btn-primary btn-lg">{{'Get suggested matrix' | translate }}</button>
        <button *ngIf="!isCoordinator" (click)="sendUpdatedMatrix()" type="button" class="btn btn-success btn-lg">{{'Save changes' | translate }}</button>
        <br>
        <br>

        <div *ngFor="let item of displayedMatrix; let i = index">

            <!-- First cell in the row -->
            <div class="row" *ngIf="i%3 ==0">
                <div *ngIf="displayedMatrix[i]" class="col-xl-4 text-xs-center">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="alert alert-info">
                                <strong>{{displayedMatrix[i].offer.code}} - {{displayedMatrix[i].offer.country}}</strong>
                                <br/>
                                {{displayedMatrix[i].offer.universityName}}
                                <br/>
                                {{displayedMatrix[i].offer.coordinator}}
                            </div>
                            <table class="card-body table table-hover" *ngIf="displayedMatrix[i].applications.length > 0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{'Name and surname' | translate }}</th>
                                    <th>{{'Preference' | translate }}</th>
                                    <th>{{'Faculty' | translate }}</th>
                                    <th>{{'Actions' | translate }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let application of displayedMatrix[i].applications; let j = index"
                                    [ngClass]="{'table-success':  displayedMatrix[i].applications[j].application.status === 'APPROVED',
                                 'table-danger':  displayedMatrix[i].applications[j].application.status === 'EXCLUDED'}">
                                    <th scope="row">{{j+1}}</th>
                                    <td class="w-40">{{displayedMatrix[i].applications[j].user.firstName}} {{displayedMatrix[i].applications[j].user.lastName}}</td>
                                    <td class="w-10">{{displayedMatrix[i].applications[j].application.preference}}
                                    <td class="w-15">{{displayedMatrix[i].applications[j].user.department}}</td>

                                    <!-- Section of actions for not excluded application -->
                                    <td class="w-35" *ngIf="displayedMatrix[i].applications[j].application.status !== 'EXCLUDED'">
                                        <button class="btn btn-info" (click)="openUserApplicationsModal(content, displayedMatrix[i].applications[j])">{{'Show' | translate }}</button>
                                        <button class="btn btn-danger" (click)="declineGivenApplication(displayedMatrix[i].applications[j])">{{'Decline' | translate }}</button>
                                        <ng-template #content let-c="close" let-d="dismiss">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Applications of {{ displayedUserApplicationsName }}</h4>
                                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="card-body table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>{{'Code' | translate }}</th>
                                                        <th>{{'Country' | translate }}</th>
                                                        <th>{{'University Name' | translate }}</th>
                                                        <th>{{'Preference' | translate }}</th>
                                                        <th>{{'Actions' | translate }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let application of displayedUserApplications; let j = index"
                                                        [ngClass]="{'table-success':  displayedUserApplications[j].application.status === 'APPROVED',
                                                        'table-danger':  displayedUserApplications[j].application.status === 'EXCLUDED'}">
                                                        <th scope="row">{{j+1}}</th>
                                                        <td class="w-20">{{displayedUserApplications[j].application.offerData.code}}</td>
                                                        <td class="w-15">{{displayedUserApplications[j].application.offerData.country}}</td>
                                                        <td class="w-35">{{displayedUserApplications[j].application.offerData.universityName}}</td>
                                                        <td class="w-10">{{displayedUserApplications[j].application.preference}}</td>
                                                        <td class="w-20" *ngIf="displayedUserApplications[j].application.status !== 'EXCLUDED'">
                                                            <button *ngIf="!isCoordinator" class="btn btn-danger" (click)="declineGivenApplication(displayedUserApplications[j])">{{'Decline' | translate }}</button>
                                                        </td>
                                                        <td class="w-20" *ngIf="displayedUserApplications[j].application.status === 'EXCLUDED'">
                                                            <button *ngIf="!isCoordinator" class="btn btn-success" (click)="undoDeclineGivenApplication(displayedUserApplications[j])">{{'Undo' | translate }}</button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'Close' | translate }}</button>
                                            </div>
                                        </ng-template>
                                    </td>

                                    <!-- Section of actions for excluded application -->
                                    <td class="w-35 table-danger" *ngIf="displayedMatrix[i].applications[j].application.status == 'EXCLUDED'">
                                        <button class="btn btn-info" (click)="openUserApplicationsModal(content, displayedMatrix[i].applications[j])">{{'Show' | translate }}</button>
                                        <button *ngIf="!isCoordinator" class="btn btn-success" (click)="undoDeclineGivenApplication(displayedMatrix[i].applications[j])">{{'Undo' | translate }}</button>
                                        <ng-template #content let-c="close" let-d="dismiss">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Applications of {{ displayedUserApplicationsName }}</h4>
                                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="card-body table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>{{'Code' | translate }}</th>
                                                        <th>{{'Country' | translate }}</th>
                                                        <th>{{'University Name' | translate }}</th>
                                                        <th>{{'Preference' | translate }}</th>
                                                        <th>{{'Actions' | translate }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let application of displayedUserApplications; let j = index"
                                                        [ngClass]="{'table-success':  displayedUserApplications[j].application.status === 'APPROVED',
                                                        'table-danger':  displayedUserApplications[j].application.status === 'EXCLUDED'}">
                                                        <th scope="row">{{j+1}}</th>
                                                        <td class="w-20">{{displayedUserApplications[j].application.offerData.code}}</td>
                                                        <td class="w-15">{{displayedUserApplications[j].application.offerData.country}}</td>
                                                        <td class="w-35">{{displayedUserApplications[j].application.offerData.universityName}}</td>
                                                        <td class="w-10">{{displayedUserApplications[j].application.preference}}</td>
                                                        <td class="w-20" *ngIf="displayedUserApplications[j].application.status !== 'EXCLUDED'">
                                                            <button *ngIf="!isCoordinator" class="btn btn-danger" (click)="declineGivenApplication(displayedUserApplications[j])">{{'Decline' | translate }}</button>
                                                        </td>
                                                        <td class="w-20" *ngIf="displayedUserApplications[j].application.status === 'EXCLUDED'">
                                                            <button *ngIf="!isCoordinator" class="btn btn-success" (click)="undoDeclineGivenApplication(displayedUserApplications[j])">{{'Undo' | translate }}</button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'Close' | translate }}</button>
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div *ngIf="displayedMatrix[i].applications.length == 0">
                                <strong style="font-size: 200%;">{{'No forms' | translate }}</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second cell in the row, i+1 -->
                <div *ngIf="displayedMatrix[i+1]" class="col-xl-4 text-xs-center">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="alert alert-info">
                                <strong>{{displayedMatrix[i+1].offer.code}} - {{displayedMatrix[i+1].offer.country}}</strong>
                                <br/>
                                {{displayedMatrix[i+1].offer.universityName}}
                                <br/>
                                {{displayedMatrix[i+1].offer.coordinator}}
                            </div>
                            <table class="card-body table table-hover" *ngIf="displayedMatrix[i+1].applications.length > 0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{'Name and surname' | translate }}</th>
                                    <th>{{'Preference' | translate }}</th>
                                    <th>{{'Faculty' | translate }}</th>
                                    <th>{{'Actions' | translate }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let application of displayedMatrix[i+1].applications; let j = index"
                                    [ngClass]="{'table-success':  displayedMatrix[i+1].applications[j].application.status === 'APPROVED',
                                    'table-danger':  displayedMatrix[i+1].applications[j].application.status === 'EXCLUDED'}">
                                    <th scope="row">{{j+1}}</th>
                                    <td class="w-40">{{displayedMatrix[i+1].applications[j].user.firstName}} {{displayedMatrix[i+1].applications[j].user.lastName}}</td>
                                    <td class="w-10">{{displayedMatrix[i+1].applications[j].application.preference}}
                                    <td class="w-15">{{displayedMatrix[i+1].applications[j].user.department}}</td>

                                    <!-- Section of actions for not excluded application -->
                                    <td class="w-35" *ngIf="displayedMatrix[i+1].applications[j].application.status !== 'EXCLUDED'">
                                        <button class="btn btn-info" (click)="openUserApplicationsModal(content, displayedMatrix[i+1].applications[j])">{{'Show' | translate }}</button>
                                        <button *ngIf="!isCoordinator" class="btn btn-danger" (click)="declineGivenApplication(displayedMatrix[i+1].applications[j])">{{'Decline' | translate }}</button>
                                        <ng-template #content let-c="close" let-d="dismiss">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Applications of {{ displayedUserApplicationsName }}</h4>
                                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="card-body table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>{{'Code' | translate }}</th>
                                                        <th>{{'Country' | translate }}</th>
                                                        <th>{{'University Name' | translate }}</th>
                                                        <th>{{'Preference' | translate }}</th>
                                                        <th>{{'Actions' | translate }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let application of displayedUserApplications; let j = index"
                                                        [ngClass]="{'table-success':  displayedUserApplications[j].application.status === 'APPROVED',
                                                        'table-danger':  displayedUserApplications[j].application.status === 'EXCLUDED'}">
                                                        <th scope="row">{{j+1}}</th>
                                                        <td class="w-20">{{displayedUserApplications[j].application.offerData.code}}</td>
                                                        <td class="w-15">{{displayedUserApplications[j].application.offerData.country}}</td>
                                                        <td class="w-35">{{displayedUserApplications[j].application.offerData.universityName}}</td>
                                                        <td class="w-10">{{displayedUserApplications[j].application.preference}}</td>
                                                        <td class="w-20" *ngIf="displayedUserApplications[j].application.status !== 'EXCLUDED'">
                                                            <button *ngIf="!isCoordinator" class="btn btn-danger" (click)="declineGivenApplication(displayedUserApplications[j])">{{'Decline' | translate }}</button>
                                                        </td>
                                                        <td class="w-20" *ngIf="displayedUserApplications[j].application.status === 'EXCLUDED'">
                                                            <button *ngIf="!isCoordinator" class="btn btn-success" (click)="undoDeclineGivenApplication(displayedUserApplications[j])">{{'Undo' | translate }}</button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'Close' | translate }}</button>
                                            </div>
                                        </ng-template>
                                    </td>

                                    <!-- Section of actions for excluded application -->
                                    <td class="w-35" *ngIf="displayedMatrix[i+1].applications[j].application.status === 'EXCLUDED'">
                                        <button class="btn btn-info" (click)="openUserApplicationsModal(content, displayedMatrix[i+1].applications[j])">{{'Show' | translate }}</button>
                                        <button *ngIf="!isCoordinator" class="btn btn-success" (click)="undoDeclineGivenApplication(displayedMatrix[i+1].applications[j])">{{'Undo' | translate }}</button>
                                        <ng-template #content let-c="close" let-d="dismiss">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Applications of {{ displayedUserApplicationsName }}</h4>
                                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="card-body table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>{{'Code' | translate }}</th>
                                                        <th>{{'Country' | translate }}</th>
                                                        <th>{{'University Name' | translate }}</th>
                                                        <th>{{'Preference' | translate }}</th>
                                                        <th>{{'Actions' | translate }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let application of displayedUserApplications; let j = index"
                                                        [ngClass]="{'table-success':  displayedUserApplications[j].application.status === 'APPROVED',
                                                        'table-danger':  displayedUserApplications[j].application.status === 'EXCLUDED'}">
                                                        <th scope="row">{{j+1}}</th>
                                                        <td class="w-20">{{displayedUserApplications[j].application.offerData.code}}</td>
                                                        <td class="w-15">{{displayedUserApplications[j].application.offerData.country}}</td>
                                                        <td class="w-35">{{displayedUserApplications[j].application.offerData.universityName}}</td>
                                                        <td class="w-10">{{displayedUserApplications[j].application.preference}}</td>
                                                        <td class="w-20" *ngIf="displayedUserApplications[j].application.status !== 'EXCLUDED'">
                                                            <button *ngIf="!isCoordinator" class="btn btn-danger" (click)="declineGivenApplication(displayedUserApplications[j])">{{'Decline' | translate }}</button>
                                                        </td>
                                                        <td class="w-20" *ngIf="displayedUserApplications[j].application.status === 'EXCLUDED'">
                                                            <button *ngIf="!isCoordinator" class="btn btn-success" (click)="undoDeclineGivenApplication(displayedUserApplications[j])">{{'Undo' | translate }}</button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'Close' | translate }}</button>
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div *ngIf="displayedMatrix[i+1].applications.length == 0">
                                <strong style="font-size: 200%;">{{'No forms' | translate }}</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third cell in the row, i+2 -->
                <div *ngIf="displayedMatrix[i+2]" class="col-xl-4 text-xs-center">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="alert alert-info">
                                <strong>{{displayedMatrix[i+2].offer.code}} - {{displayedMatrix[i+2].offer.country}}</strong>
                                <br/>
                                {{displayedMatrix[i+2].offer.universityName}}
                                <br/>
                                {{displayedMatrix[i+2].offer.coordinator}}
                            </div>
                            <table class="card-body table table-hover" *ngIf="displayedMatrix[i+2].applications.length > 0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{'Name and surname' | translate }}</th>
                                    <th>{{'Preference' | translate }}</th>
                                    <th>{{'Faculty' | translate }}</th>
                                    <th>{{'Actions' | translate }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let application of displayedMatrix[i+2].applications; let j = index"
                                    [ngClass]="{'table-success':  displayedMatrix[i+2].applications[j].application.status === 'APPROVED',
                                        'table-danger':  displayedMatrix[i+2].applications[j].application.status === 'EXCLUDED'}">
                                    <th scope="row">{{j+1}}</th>
                                    <td class="w-40">{{displayedMatrix[i+2].applications[j].user.firstName}} {{displayedMatrix[i+2].applications[j].user.lastName}}</td>
                                    <td class="w-10">{{displayedMatrix[i+2].applications[j].application.preference}}
                                    <td class="w-15">{{displayedMatrix[i+2].applications[j].user.department}}</td>

                                    <!-- Section of actions for not excluded application -->
                                    <td class="w-35" *ngIf="displayedMatrix[i+2].applications[j].application.status !== 'EXCLUDED'">
                                        <button class="btn btn-info" (click)="openUserApplicationsModal(content, displayedMatrix[i+2].applications[j])">{{'Show' | translate }}</button>
                                        <button *ngIf="!isCoordinator" class="btn btn-danger" (click)="declineGivenApplication(displayedMatrix[i+2].applications[j])">{{'Decline' | translate }}</button>
                                        <ng-template #content let-c="close" let-d="dismiss">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Applications of {{ displayedUserApplicationsName }}</h4>
                                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="card-body table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>{{'Code' | translate }}</th>
                                                        <th>{{'Country' | translate }}</th>
                                                        <th>{{'University Name' | translate }}</th>
                                                        <th>{{'Preference' | translate }}</th>
                                                        <th>{{'Actions' | translate }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let application of displayedUserApplications; let j = index"
                                                        [ngClass]="{'table-success':  displayedUserApplications[j].application.status === 'APPROVED',
                                                            'table-danger':  displayedUserApplications[j].application.status === 'EXCLUDED'}">
                                                        <th scope="row">{{j+1}}</th>
                                                        <td class="w-20">{{displayedUserApplications[j].application.offerData.code}}</td>
                                                        <td class="w-15">{{displayedUserApplications[j].application.offerData.country}}</td>
                                                        <td class="w-35">{{displayedUserApplications[j].application.offerData.universityName}}</td>
                                                        <td class="w-10">{{displayedUserApplications[j].application.preference}}</td>
                                                        <td class="w-20" *ngIf="displayedUserApplications[j].application.status !== 'EXCLUDED'">
                                                            <button class="btn btn-danger" (click)="declineGivenApplication(displayedUserApplications[j])">{{'Decline' | translate }}</button>
                                                        </td>
                                                        <td class="w-20" *ngIf="displayedUserApplications[j].application.status === 'EXCLUDED'">
                                                            <button class="btn btn-success" (click)="undoDeclineGivenApplication(displayedUserApplications[j])">{{'Undo' | translate }}</button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'Close' | translate }}</button>
                                            </div>
                                        </ng-template>
                                    </td>

                                    <!-- Section of actions for excluded application -->
                                    <td class="w-35" *ngIf="displayedMatrix[i+2].applications[j].application.status === 'EXCLUDED'">
                                        <button class="btn btn-info" (click)="openUserApplicationsModal(content, displayedMatrix[i+2].applications[j])">{{'Show' | translate }}</button>
                                        <button *ngIf="!isCoordinator" class="btn btn-success" (click)="undoDeclineGivenApplication(displayedMatrix[i+2].applications[j])">{{'Undo' | translate }}</button>
                                        <ng-template #content let-c="close" let-d="dismiss">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Applications of {{ displayedUserApplicationsName }}</h4>
                                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="card-body table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>{{'Code' | translate }}</th>
                                                        <th>{{'Country' | translate }}</th>
                                                        <th>{{'University Name' | translate }}</th>
                                                        <th>{{'Preference' | translate }}</th>
                                                        <th>{{'Actions' | translate }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let application of displayedUserApplications; let j = index"
                                                        [ngClass]="{'table-success':  displayedUserApplications[j].application.status === 'APPROVED',
                                                            'table-danger':  displayedUserApplications[j].application.status === 'EXCLUDED'}">
                                                        <th scope="row">{{j+1}}</th>
                                                        <td class="w-20">{{displayedUserApplications[j].application.offerData.code}}</td>
                                                        <td class="w-15">{{displayedUserApplications[j].application.offerData.country}}</td>
                                                        <td class="w-35">{{displayedUserApplications[j].application.offerData.universityName}}</td>
                                                        <td class="w-10">{{displayedUserApplications[j].application.preference}}</td>
                                                        <td class="w-20" *ngIf="displayedUserApplications[j].application.status !== 'EXCLUDED'">
                                                            <button *ngIf="!isCoordinator" class="btn btn-danger" (click)="declineGivenApplication(displayedUserApplications[j])">{{'Decline' | translate }}</button>
                                                        </td>
                                                        <td class="w-20" *ngIf="displayedUserApplications[j].application.status === 'EXCLUDED'">
                                                            <button *ngIf="!isCoordinator" class="btn btn-success" (click)="undoDeclineGivenApplication(displayedUserApplications[j])">{{'Undo' | translate }}</button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'Close' | translate }}</button>
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div *ngIf="displayedMatrix[i+2].applications.length == 0">
                                <strong style="font-size: 200%;">{{'No forms' | translate }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
