<div [@routerTransition]>
    <app-page-header [heading]="'Accepted' | translate" [icon]="'fa-file-excel-o'"></app-page-header>
    <div class="alert alert-info" role="alert" *ngIf="currentState !== 'DWZ_APPROVALS'">
        <h4 class="alert-heading">{{'Attention' | translate}}!</h4>
        <p>- {{'You can generate lists only in DWZ approvals state' | translate}}. </p>
    </div>
    <div *ngIf="currentState === 'DWZ_APPROVALS'">
        <div class="form-group">
            <label style="font-size: 200%">{{'Display policy' | translate}}</label>
            <select [(ngModel)]="selectedDisplayPolicy" class="form-control" (change)="changeDisplay($event.target.value)">
                <option>Tylko wydział WIEiT</option>
                <option>Pozostałe wydziały</option>
            </select>
        </div>
        <br>
        <h4>Lista osób zakwalifikowanych do wyjazdu na studia</h4>
        <h4>za granicę w ramach programu Erasmus+</h4>
        <h4>w roku akademickim 2017/2018</h4>
        <br>
        <div *ngIf="wieitDepartment">
            <h4>Wymienieni niżej studenci <b>Wydziału Informatyki, Elektroniki i Telekomunikacji</b> (WIEiT)</h4>
            <h4>AGH zostali zaakceptowani na studia:</h4>
        </div>
        <div *ngIf="!wieitDepartment">
            <h4>Wymienieni niżej studenci <b>spoza Wydziału Informatyki, Elektroniki i Telekomunikacji</b> (WIEiT)</h4>
            <h4>AGH zostali zaakceptowani na studia (miejsca z umów WIEiT):</h4>
        </div>

        <div layout-align="center">
            <table class="table table-hover table-bordered">
                <tbody hidden>
                <tr>
                    <th colspan="2" rowspan="2">ERASMUS+</th>
                </tr>
                <tr></tr>
                <tr>
                    <td colspan="5" align="center">Lista osób zakwalifikowanych do wyjazdu na studia</td>
                </tr>
                <tr>
                    <td colspan="5" align="center">za granicę w ramach programu Erasmus+</td>
                </tr>
                <tr>
                    <td colspan="5" align="center">w roku akademickim 2017/2018</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="10" *ngIf="wieitDepartment">Wymienieni niżej studenci <b>Wydziału Informatyki, Elektroniki i Telekomunikacji</b> (WIEiT)</td>
                    <td colspan="10" *ngIf="!wieitDepartment">Wymienieni niżej studenci <b>spoza Wydziału Informatyki, Elektroniki i Telekomunikacji</b> (WIEiT)</td>
                </tr>
                <tr>
                    <td colspan="10" *ngIf="wieitDepartment">AGH zostali zaakceptowani na studia:</td>
                    <td colspan="10" *ngIf="!wieitDepartment">AGH zostali zaakceptowani na studia (miejsca z umów WIEiT):</td>
                </tr>
                <tr></tr>
                </tbody>
                <tr>
                    <th rowspan="2">Lp.</th>
                    <th rowspan="2">Imię</th>
                    <th rowspan="2">Nazwisko</th>
                    <th rowspan="2" colspan="2">Nazwa Wydziału</th>
                    <th rowspan="2" colspan="2">Rok studiów (stopień studiów)</th>
                    <th rowspan="2" colspan="2">Uczelnia Partnerska (Erasmus kod uczelni)</th>
                    <th rowspan="2" colspan="2">Okres pobytu (ilość miesięcy)</th>
                    <th rowspan="2" colspan="2">Adres e-mail studenta</th>
                    <th rowspan="2" colspan="2">Telefon kontaktowy do studenta</th>
                    <th rowspan="2" colspan="2">Wcześniejszy udział w Programie Erasmus+ TAK/NIE (studia/praktyki)</th>
                    <th rowspan="2" colspan="2">Stypendium socjalne (lub POWER)</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tbody *ngFor="let item of displayedEntries; let i = index">
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.applierData.firstName}}</td>
                    <td>{{item.applierData.lastName}}</td>
                    <td colspan="2">{{item.applierData.department}}</td>
                    <td colspan="2">{{item.applierData.yearOfStudy}}</td>
                    <td colspan="2">{{item.application.offerData.code}}</td>
                    <td *ngIf="item.application.offerData.duration" colspan="2">{{item.application.offerData.duration}}</td>
                    <td *ngIf="!item.application.offerData.duration" colspan="2">0</td>
                    <td colspan="2">{{item.applierData.email}}</td>
                    <td colspan="2">{{item.applierData.phone}}</td>
                    <td *ngIf="item.applierData.erasmusParticipation" colspan="2">TAK</td>
                    <td *ngIf="!item.applierData.erasmusParticipation" colspan="2">NIE</td>
                    <td *ngIf="item.applierData.hasSocialScholarship || item.applierData.hasPowerScholarship" colspan="2">TAK</td>
                    <td *ngIf="!(item.applierData.hasSocialScholarship || item.applierData.hasPowerScholarship)" colspan="2">NIE</td>
                </tr>
                </tbody>
                <tbody hidden>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>-----------------------------------------</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Koordynator umowy</td>
                </tr>
                <tr>
                    <td></td>
                    <td>( podpis, pieczątka lub czytelne nazwisko )</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Kraków, dnia…………………..</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Załączniki:</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1.</td>
                    <td>Ankieta rekrutacyjna studenta</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2.</td>
                    <td>Certyfikat znajomości języka</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Listę prosimy przekazać do Koordynatora Wydziałowego (termin ustalony przez Wydział)</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
