<div [@routerTransition]>
    <h2 class="text-muted">Erasmus AGH <small>{{'Your opportunity' | translate}}</small></h2>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-3">{{'Current state of enrollment process' | translate}}</h1>
                <hr class="my-4">
                <p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>
                <br/>
                <p class="lead" *ngIf="isAdmin">
                    <p-confirmDialog header="{{'Attention!' | translate}}" rejectLabel="{{'No' | translate}}" acceptLabel="{{'Yes' | translate}}"></p-confirmDialog>
                    <p-dialog header="{{'Attention!' | translate}}" [(visible)]="displayEndEditionDialog" modal="modal" [responsive]="true" [width]="500" [minWidth]="500">
                        <p>{{'Are you sure you want to close the edition?' | translate}}</p>
                        <p>{{'This operation cannot be undone. Make sure you want to close this edition!' | translate}}</p>
                        <div class="form-group input-group">
                            <input class="form-control" placeholder="{{'Edition' | translate}}" type="text" [(ngModel)]="editionName">
                        </div>
                        <p-footer>
                            <button type="button" pButton icon="fa-check" (click)="sendEndEditionRequest()" label="{{'Yes' | translate}}"></button>
                            <button type="button" pButton icon="fa-close" (click)="displayEndEditionDialog=false" label="{{'No' | translate}}"></button>
                        </p-footer>
                    </p-dialog>
                    <button type="button" class="btn btn-primary btn-lg" [disabled]="currentState === 'BEFORE_ENROLLMENT'" (click)="confirmDecrementState()">
                        <i class="fa fa-arrow-left" aria-hidden="true"> </i>
                        {{'Change to previous step' | translate}}
                    </button>
                    <button type="button" class="btn btn-primary btn-lg" [disabled]="currentState === 'DWZ_APPROVALS'" (click)="confirmIncrementState()">
                        {{'Change to next step' | translate}}
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-lg" *ngIf="currentState === 'DWZ_APPROVALS'" (click)="showEndEditionDialog()">
                        {{'End edition' | translate}}
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="isAdmin">
        <div class="col-xl-3 col-lg-6" [routerLink]="['/users']">
            <app-stat [bgClass]="'success'" [icon]="'fa-users'" [count]="users.length" [label]="'Users signed!' | translate" [data]="'View all accounts' | translate"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6" [routerLink]="['/offers']">
            <app-stat [bgClass]="'primary'" [icon]="'fa-bars'" [count]="agreements.totalElements" [label]="'Agreements!' | translate" [data]="'View all agreements' | translate"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6" [routerLink]="['/matrix']">
            <app-stat [bgClass]="'danger'" [icon]="'fa-id-card-o'" [count]="applications.length" [label]="'Forms!' | translate" [data]="'View user\'s applications' | translate"></app-stat>
        </div>
    </div>

    <div class="row" *ngIf=isStudent>
        <div class="col-xl-3 col-lg-6" [routerLink]="['/agreements']">
            <app-stat [bgClass]="'success'" [icon]="'fa-bars'" [count]="agreements.totalElements" [label]="'Agreements!' | translate" [data]="'Apply!' | translate"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6" [routerLink]="['/applications']">
            <app-stat [bgClass]="'primary'" [icon]="'fa-id-card-o'" [count]="applications.length" [label]="'Forms!' | translate" [data]="'View your forms' | translate"></app-stat>
        </div>
    </div>
</div>
