<div [@routerTransition]>
    <app-page-header [heading]="'Choose forms that were accepted by DWZ' | translate" [icon]="'fa-list'"></app-page-header>
    <div class="alert alert-info" role="alert" *ngIf="currentState !== 'DWZ_APPROVALS'">
        <h4 class="alert-heading">{{'Attention' | translate}}!</h4>
        <p>- {{'You can add DWZ approvals only in DWZ approvals state' | translate}}. </p>
    </div>
    <div *ngIf="currentState === 'DWZ_APPROVALS'">
        <div layout-align="center">
            <p-pickList [source]="sourceApplications" [target]="targetApplications" dragdrop="true" [responsive]="true"
                        [sourceStyle]="{'height':'500px'}"
                        [targetStyle]="{'height':'500px'}"
                        filterBy="application.offerData.code,application.offerData.country,application.offerData.universityName,applierData.firstName,applierData.lastName,applierData.department"
                        sourceFilterPlaceholder="Szukaj po dowolnym polu..."
                        targetFilterPlaceholder="Szukaj po dowolnym polu..."
                        sourceHeader="Dostępne formularze (zaakceptowane)"
                        targetHeader="Formularze zaakceptowane przez DWZ">
                <ng-template let-approvedEntry pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="w-20">{{approvedEntry.application.offerData.code}}</td>
                                <td class="w-40">{{approvedEntry.application.offerData.country}}
                                    {{approvedEntry.application.offerData.universityName}}
                                </td>
                                <td class="w-40">{{approvedEntry.applierData.firstName}}
                                    {{approvedEntry.applierData.lastName}} ({{approvedEntry.applierData.department}})
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </p-pickList>
        </div>
        <br>
        <button (click)="savePriorityList()" type="button" class="btn float-right btn-success btn-lg" style="margin-right: 10%">
            {{'Save changes' | translate}}
        </button>
    </div>
</div>
