<div [@routerTransition]>
    <app-page-header [heading]="'My Profile' | translate" [icon]="'fa-list'"></app-page-header>
    <div *ngIf="hasApplications" class="alert alert-info" role="alert">
        <h2 class="alert-heading"><b>{{'Attention' | translate}}!</b></h2>
        <h5>{{'Please not that changes here does not affect profile data passed along enroll form on already enrolled agreements. Please enroll once again if you want to update your personal data.' | translate}} </h5>
    </div>
    <h1>{{ profileData.firstName }} {{ profileData.lastName }}</h1>
    <hr>
    <button [disabled]="!profileForm.valid" form="profileForm" type="button" class="btn btn-primary" (click)="confirmSaveProfile()">{{'Save' | translate }}</button>
    <br/>
    <p-confirmDialog acceptLabel="{{'Yes' | translate}}" rejectLabel="{{'No' | translate}}"></p-confirmDialog>
    <br/>
    <form [formGroup]="profileForm" id="profileForm" >
        <div class="row">
            <div class="col-sm-4">
                <h3>{{'Basic information' | translate}}:</h3>
                <div class="form-group input-group">
                    <span class="input-group-addon">@Email</span>
                    <input class="form-control" style="text-align:right;" type="text" placeholder={{profileData.email}} disabled>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">{{'Account type' | translate }}</span>
                    <input class="form-control" style="text-align:right;" type="text"
                           placeholder="{{profileData.universityRole}}"
                           disabled>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">{{'University Name' | translate }}</span>
                    <input class="form-control"
                           [style.border] = "!profileForm.controls['university'].valid ? '1px solid red' : ''"
                           style="text-align:right;" type="text"
                           formControlName="university"
                           [(ngModel)]="profileData.university">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">{{'Department' | translate }}</span>
                    <select class="form-control" style="text-align-last: right;"
                            [style.border] = "!profileForm.controls['department'].valid ? '1px solid red' : ''"
                            formControlName="department"
                            [(ngModel)]="profileData.department">
                        <option>WIEiT</option>
                        <option>WGiG</option>
                        <option>WIMiR</option>
                        <option>WEAiIB</option>
                        <option>WGGiOŚ</option>
                        <option>WGGiIŚ</option>
                        <option>WIMiC</option>
                        <option>WIMiIP</option>
                        <option>WO</option>
                        <option>WMN</option>
                        <option>WWNiG</option>
                        <option>WZ</option>
                        <option>WEiP</option>
                        <option>WMS</option>
                        <option>WH</option>
                        <option>WFiIS</option>
                    </select>
                </div>
                <div class="form-group input-group" *ngIf="profileData.department.toLowerCase()!='wieit'">
                    <span class="input-group-addon">{{'Faculty' | translate }}</span>
                    <input class="form-control"
                           [style.border] = "!profileForm.controls['faculty'].valid ? '1px solid red' : ''"
                           formControlName="faculty"
                           style="text-align:right;"
                           type="text"
                           [(ngModel)]="profileData.faculty">
                </div>
                <div class="form-group input-group" *ngIf="profileData.department.toLowerCase()==='wieit'">
                    <span class="input-group-addon">{{'Faculty' | translate }}</span>
                    <select class="form-control"
                            style="text-align-last: right;"
                            [style.border] = "!profileForm.controls['faculty'].valid ? '1px solid red' : ''"
                            formControlName="faculty"
                            [(ngModel)]="profileData.faculty">
                        <option>Informatyka</option>
                        <option>Elektronika</option>
                        <option>Teleinformatyka</option>
                        <option>Elektronika i Telekomunikacja</option>
                        <option>Electronics and Telecommunications (EN)</option>
                    </select>
                </div>
                <div *ngIf="isStudent" class="form-group input-group">
                    <span class="input-group-addon">{{'Index number' | translate }}</span>
                    <input class="form-control"
                           style="text-align:right;"
                           type="text"
                           [(ngModel)]="profileData.indexNumber"
                           [style.border] = "!profileForm.controls['indexNumber'].valid ? '1px solid red' : ''"
                           formControlName="indexNumber">
                </div>
                <div *ngIf="isStudent" class="form-group input-group">
                    <span class="input-group-addon">{{'Studies Degree' | translate }}</span>
                    <select class="form-control"
                            style="text-align-last: right;"
                            [style.border] = "!profileForm.controls['studiesDegree'].valid ? '1px solid red' : ''"
                            [(ngModel)]="profileData.studiesDegree"
                            formControlName="studiesDegree">
                        <option value="BACHELOR">{{'BACHELOR' | translate}}</option>
                        <option value="MASTERS">{{'MASTERS' | translate}}</option>
                        <option value="DOCTORATE">{{'DOCTORATE' | translate}}</option>
                        <option value="SUPPLEMENTARY">{{'SUPPLEMENTARY' | translate}}</option>
                    </select>
                </div>
                <div *ngIf="isStudent" class="form-group input-group">
                    <span class="input-group-addon">{{'Year of study' | translate }}</span>
                    <select class="form-control"
                            style="text-align-last: right;"
                            [style.border] = "!profileForm.controls['yearOfStudy'].valid ? '1px solid red' : ''"
                            [(ngModel)]="profileData.yearOfStudy"
                            formControlName="yearOfStudy">
                        <option>1</option>
                        <option>2</option>
                        <option *ngIf="profileData.studiesDegree==='BACHELOR'">3</option>
                        <option *ngIf="profileData.studiesDegree==='BACHELOR'">4</option>
                    </select>
                </div>
                <div *ngIf="isStudent" class="form-group input-group">
                    <span class="input-group-addon">{{'Completed semester' | translate }}</span>
                    <select class="form-control"
                            style="text-align-last:right;"
                            [style.border] = "!profileForm.controls['completedSemester'].valid ? '1px solid red' : ''"
                            type="text"
                            formControlName="completedSemester"
                            [(ngModel)]="profileData.completedSemester">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option *ngIf="profileData.studiesDegree==='BACHELOR'">4</option>
                        <option *ngIf="profileData.studiesDegree==='BACHELOR'">5</option>
                        <option *ngIf="profileData.studiesDegree==='BACHELOR'">6</option>
                        <option *ngIf="profileData.studiesDegree==='BACHELOR'">7</option>
                    </select>
                </div>
                <div *ngIf="isStudent" class="form-group input-group">
                    <span class="input-group-addon">{{'GPA' | translate }}</span>
                    <input class="form-control"
                           style="text-align:right;"
                           type="text"
                           [style.border] = "!profileForm.controls['gpa'].valid ? '1px solid red' : ''"
                           formControlName="gpa"
                           [(ngModel)]="profileData.gpa">
                </div>
                <div *ngIf="isStudent" class="form-group input-group">
                    <span class="input-group-addon">{{'Address' | translate }}</span>
                    <input class="form-control"
                           style="text-align:right;"
                           [style.border] = "!profileForm.controls['address'].valid ? '1px solid red' : ''"
                           type="text"
                           formControlName="address"
                           [(ngModel)]="profileData.address">
                </div>
                <div *ngIf="isStudent" class="form-group input-group">
                    <span class="input-group-addon">{{'Phone' | translate }}</span>
                    <input
                        class="form-control"
                        style="text-align:right;"
                        [style.border] = "!profileForm.controls['phone'].valid ? '1px solid red' : ''"
                        type="text"
                        formControlName="phone"
                        [(ngModel)]="profileData.phone">
                </div>
            </div>
            <div class="col-sm-4">
                <div *ngIf="isStudent">
                    <h3>{{'Additional information' | translate}}:</h3>
                    <div class="form-group">
                        <label>
                            {{'Scholarship' | translate }} <input type="checkbox" value="" [ngModelOptions]="{standalone: true}"
                                                                  [(ngModel)]="profileData.hasSocialScholarship">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            {{'Disabilities' | translate }} <input type="checkbox" value="" [ngModelOptions]="{standalone: true}"
                                                                   [(ngModel)]="profileData.hasDisabilities">
                        </label>
                    </div>
                    <div class="form-group" *ngIf="profileData.hasDisabilities || profileData.hasPowerScholarship">
                        <label>
                            {{'POWER Scholarship' | translate }} <input type="checkbox" value="" [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="profileData.hasPowerScholarship">
                        </label>
                    </div>
                </div>
                <div *ngIf="isStudent">
                    <p>
                        <button type="button" class="btn btn-outline-primary"
                                (click)="isPrevParticipationCollapsed = !isPrevParticipationCollapsed"
                                [attr.aria-expanded]="!isPrevParticipationCollapsed">
                            {{'Previous participation' | translate }}
                        </button>
                    </p>
                    <div [ngbCollapse]="isPrevParticipationCollapsed" *ngIf="profileData.erasmusParticipation">
                        <div class="form-group input-group">
                            <span class="input-group-addon">{{'Year of study' | translate }}</span>
                            <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                   [(ngModel)]="profileData.erasmusParticipation.yearOfStudy">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">{{'Studies degree' | translate }}</span>
                            <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                   [(ngModel)]="profileData.erasmusParticipation.studiesDegree">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">{{'Duration' | translate }}</span>
                            <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                   [(ngModel)]="profileData.erasmusParticipation.duration">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div *ngIf="isStudent">
                    <h3>{{'Languages certificates' | translate}}:</h3>
                    <p>
                        <button type="button" class="btn btn-outline-primary"
                                (click)="isLanguagesCollapsed = !isLanguagesCollapsed"
                                [attr.aria-expanded]="!isLanguagesCollapsed">
                            {{'Language certificates' | translate }}
                        </button>
                    </p>
                    <div [ngbCollapse]="isLanguagesCollapsed" *ngIf="profileData.language">
                        <h4>{{'First certificate' | translate }}</h4>
                        <div class="form-group input-group">
                            <span class="input-group-addon">{{'Language name' | translate }}</span>
                            <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                   [(ngModel)]="profileData.language[0].name">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">{{'Exam level' | translate }}</span>
                            <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                   [(ngModel)]="profileData.language[0].examLevel">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">{{'Grade' | translate }}</span>
                            <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                   [(ngModel)]="profileData.language[0].grade">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">{{'Certificate' | translate }}</span>
                            <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                   [(ngModel)]="profileData.language[0].certificateType">
                        </div>
                        <h5 *ngIf="profileData.language[0].certificateFileId && !firstCertificateFile">{{'Already sent scan' | translate}}: {{profileData.language[0].certificateFileName}}</h5>
                        <div class="form-group input-group">
                            <input type="file" class="form-control-file" aria-describedby="fileHelp"
                                   (change)="setFirstCertificate($event)">
                        </div>
                        <h4>{{'Second certificate' | translate }}</h4>
                        <div class="form-group input-group">
                            <span class="input-group-addon">{{'Language name' | translate }}</span>
                            <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                   [(ngModel)]="profileData.language[1].name">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">{{'Exam level' | translate }}</span>
                            <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                   [(ngModel)]="profileData.language[1].examLevel">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">{{'Grade' | translate }}</span>
                            <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                   [(ngModel)]="profileData.language[1].grade">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">{{'Certificate' | translate }}</span>
                            <input class="form-control" style="text-align:right;" type="text" [ngModelOptions]="{standalone: true}"
                                   [(ngModel)]="profileData.language[1].certificateType">
                        </div>
                        <h5 *ngIf="profileData.language[1].certificateFileId && !secondCertificateFile">{{'Already sent scan' | translate}}: {{profileData.language[1].certificateFileName}}</h5>
                        <div class="form-group input-group">
                            <input type="file" class="form-control-file" aria-describedby="fileHelp"
                                   (change)="setSecondCertificate($event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
