<div [@routerTransition]>
    <app-page-header [heading]="'Agreements' | translate" [icon]="'fa-list'"></app-page-header>
    <h2>{{'All Agreements:' | translate}}</h2>
    <div class="col-md-10">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="query">
            <span class="input-group-btn">
        <button class="btn btn-primary" type="button">{{'Search' | translate}}!</button>
      </span>
        </div>
    </div>
    <br>

    <div class="col-md-10">
        <div class="row">
            <div class="col-md-2"><b>{{'Country' | translate}}</b></div>
            <div class="col-md-4"><b>{{'University' | translate }}</b></div>
            <div class="col-md-2"><b>{{'Code' | translate}}</b></div>
            <div class="col-md-2"><b>{{'Details' | translate }}</b></div>
        </div>
    </div>
    <div class="col-md-10">
        <a *ngFor="let agreement of agreements | search:'country,universityName,code':query" class="list-group-item">
            <br>
            <div class="row">
                <div class="col-md-2">{{agreement.country}}</div>
                <div class="col-md-4">{{agreement.universityName}}</div>
                <div class="col-md-2">{{agreement.code}}</div>
                <div class="col-md-2">
                    <button (click)="open(content)" type="button" class="btn btn-primary">{{'Details' | translate }}</button>
                    <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-header">
                            <h4 class="modal-title">Agreement</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Country: {{agreement.country}}</p>
                            <p>University Name: {{agreement.universityName}}</p>
                            <p>Coordinator: {{agreement.coordinator}}</p>
                            <p *ngIf="agreement.departmentCoordinator">Department Coordinator:
                                {{agreement.departmentCoordinator}}</p>
                            <p>Department: {{agreement.department}}</p>
                            <p>Code: {{agreement.code}}</p>
                            <p>From: {{agreement.startYear}} to {{agreement.endYear}}</p>
                            <p *ngIf="agreement.duration">Duration: {{agreement.duration}}</p>
                            <p *ngIf="agreement.vacancies">Vacancies: {{agreement.vacancies}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close
                            </button>
                        </div>
                    </ng-template>
                </div>
            </div>
            <br>
        </a>
    </div>
</div>
