<div class="login-page" [@routerTransitionToLeft]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" />
            <h1>Erasmus AGH</h1>
            <h1>{{'Sign up form' | translate}}</h1>
            <form [formGroup]="profileRegisterForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text"
                               class="form-control input-underline input-lg"
                               [style.border] = "!profileRegisterForm.controls['email'].valid ? '1px solid red' : ''"
                               placeholder="@Email"
                               formControlName="email"
                               [(ngModel)]="userToRegister.email"
                               name="email">
                    </div>
                    <div class="form-group">
                        <input type="text"
                               class="form-control input-underline input-lg"
                               [style.border] = "!profileRegisterForm.controls['firstName'].valid ? '1px solid red' : ''"
                               [placeholder]="'First Name' | translate"
                               [(ngModel)]="userToRegister.firstName"
                               formControlName="firstName"
                               name="firstName">
                    </div>
                    <div class="form-group">
                        <input type="text"
                               class="form-control input-underline input-lg"
                               [style.border] = "!profileRegisterForm.controls['lastName'].valid ? '1px solid red' : ''"
                               [placeholder]="'Last Name' | translate"
                               [(ngModel)]="userToRegister.lastName"
                               formControlName="lastName"
                               name="lastName">
                    </div>
                    <div class="form-group">
                        <input type="password"
                               class="form-control input-underline input-lg"
                               [style.border] = "!profileRegisterForm.controls['password'].valid ? '1px solid red' : ''"
                               [placeholder]="'Password' | translate"
                               [(ngModel)]="userToRegister.password"
                               formControlName="password"
                               name="password" pPassword
                               [weakLabel]="'Weak' | translate"
                               [mediumLabel]="'Medium' | translate"
                               [strongLabel]="'Strong' | translate"
                               [promptLabel]="'Please enter a password' | translate">
                    </div>
                </div>
            </form>
            <button class="btn rounded-btn" [disabled]="!profileRegisterForm.valid" (click)="registerUser()"><i class="fa fa-check-circle" aria-hidden="true"></i> {{'Register' | translate }}</button>
            <br/>
            <br/>
            <a class="btn rounded-btn" [routerLink]="['/login']"><i class="fa fa-arrow-left" aria-hidden="true"></i> {{'Log in' | translate }}</a>
        </div>
    </div>
</div>
