<div [@routerTransition]>
    <app-page-header [heading]="'Agreement maker' | translate" [icon]="'fa-wpforms'"></app-page-header>
    <div>

        <div class="alert alert-info" role="alert" *ngIf="currentState !== 'BEFORE_ENROLLMENT'">
            <h4 class="alert-heading">{{'Attention' | translate}}!</h4>
            <p>- {{'You can create new agreements only in before enrollment state' | translate}}. </p>
        </div>

        <div *ngIf="currentState === 'BEFORE_ENROLLMENT'">
            <button [disabled]="!offerForm.valid" (click)="saveOffer()" type="button" class="btn btn-success btn-lg">{{'Save agreement' | translate }}</button>
            <br/>
            <br/>
            <p-accordion [multiple]="true">
                <p-accordionTab header="{{'Required agreement info' | translate}}" [selected]="true">
                    <form [formGroup]="offerForm">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    <label for="code-text-input" class="col-form-label">{{'University code' | translate}}</label>
                                </div>
                                <div class="ui-grid-col-6">
                                    <input id="code-text-input" class="form-control"
                                           type="text" formControlName="code"
                                           placeholder="{{'University code' | translate}}"
                                           [(ngModel)]="offerAgreement.code"/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!offerForm.controls['code'].valid&&offerForm.controls['code'].dirty">
                                        {{"University code is required" | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    <label for="department-coordinator-text-input" class="col-form-label">{{'Department coordinator' | translate}}</label>
                                </div>
                                <div class="ui-grid-col-6">
                                    <input id="department-coordinator-text-input" class="form-control"
                                           type="text" formControlName="departmentCoordinator"
                                           placeholder="{{'Department coordinator' | translate}}"
                                           [(ngModel)]="offerAgreement.departmentCoordinator"/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!offerForm.controls['departmentCoordinator'].valid&&offerForm.controls['departmentCoordinator'].dirty">
                                        {{"Department coordinator is required" | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    <label for="agreement-coordinator-text-input" class="col-form-label">{{'Agreement coordinator' | translate}}</label>
                                </div>
                                <div class="ui-grid-col-6">
                                    <input id="agreement-coordinator-text-input" class="form-control"
                                           type="text" formControlName="agreementCoordinator"
                                           placeholder="{{'Agreement coordinator' | translate}}"
                                           [(ngModel)]="offerAgreement.coordinator"/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!offerForm.controls['agreementCoordinator'].valid&&offerForm.controls['agreementCoordinator'].dirty">
                                        {{"Agreement coordinator is required" | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    <label for="agreement-coordinator-text-input" class="col-form-label">{{'University name' | translate}}</label>
                                </div>
                                <div class="ui-grid-col-6">
                                    <input id="university-name-text-input" class="form-control"
                                           type="text" formControlName="universityName"
                                           placeholder="{{'University name' | translate}}"
                                           [(ngModel)]="offerAgreement.universityName"/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!offerForm.controls['universityName'].valid&&offerForm.controls['universityName'].dirty">
                                        {{"University name coordinator is required" | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    <label for="country-text-input" class="col-form-label">{{'Country' | translate}}</label>
                                </div>
                                <div class="ui-grid-col-6">
                                    <input id="country-text-input" class="form-control"
                                           type="text" formControlName="country"
                                           placeholder="{{'Country' | translate}}"
                                           [(ngModel)]="offerAgreement.country"/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!offerForm.controls['country'].valid&&offerForm.controls['country'].dirty">
                                        {{"Country is required" | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    <label for="department-text-input" class="col-form-label">{{'Department' | translate}}</label>
                                </div>
                                <div class="ui-grid-col-6">
                                    <select id="department-text-input" class="form-control"
                                            type="text" formControlName="department"
                                            [(ngModel)]="offerAgreement.department">
                                        <option>WIEiT</option>
                                        <option>WGIG</option>
                                        <option>WIMIR</option>
                                        <option>WEAIIB</option>
                                        <option>WGGOŚ</option>
                                        <option>WGGIŚ</option>
                                        <option>WIMC</option>
                                        <option>WO</option>
                                        <option>WMN</option>
                                        <option>WWNG</option>
                                        <option>WZ</option>
                                        <option>WMS</option>
                                        <option>WH</option>
                                        <option>WFIS</option>
                                    </select>
                                </div>
                                <div class="ui-grid-col-4">
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!offerForm.controls['department'].valid&&offerForm.controls['department'].dirty">
                                        {{"Department is required" | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                                    <label for="duration-text-input" class="col-form-label">{{'Duration' | translate}}</label>
                                </div>
                                <div class="ui-grid-col-6">
                                    <input id="duration-text-input" class="form-control"
                                           type="text" formControlName="duration"
                                           placeholder="{{'Duration' | translate}}"
                                           [(ngModel)]="offerAgreement.duration"/>
                                </div>
                                <div class="ui-grid-col-4">
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!offerForm.controls['duration'].valid&&offerForm.controls['duration'].dirty">
                                        {{"Duration is required" | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </p-accordionTab>
                <p-accordionTab header="{{'Optional agreement info' | translate}}">
                    <div class="col-xl-12 text-xs-center">
                        <div class="form-group row">
                            <label for="vacancies-text-input" class="col-2 col-form-label">{{'Vacancies' | translate}}</label>
                            <div class="col-10">
                                <input class="form-control" type="text" [(ngModel)]="offerAgreement.vacancies"
                                       id="vacancies-text-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="startYear-text-input" class="col-2 col-form-label">{{'Start year' | translate}}</label>
                            <div class="col-10">
                                <input class="form-control" type="text" [(ngModel)]="offerAgreement.startYear"
                                       id="startYear-text-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="endYear-text-input" class="col-2 col-form-label">{{'End year' | translate}}</label>
                            <div class="col-10">
                                <input class="form-control" type="text" [(ngModel)]="offerAgreement.endYear"
                                       id="endYear-text-input">
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>
