<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop "></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw  fa-user "></i>&nbsp;{{ 'Profile' | translate }}
        </a>
        <a *ngIf="isStudent()" [routerLink]="['/agreements']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw  fa-list-ol "></i>&nbsp;{{ 'Enroll' | translate }}
        </a>
        <a *ngIf="isAdmin()" [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw  fa-users "></i>&nbsp;{{ 'Users' | translate }}
        </a>
        <a *ngIf="!isStudent()" [routerLink]="['/offers']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw  fa-list-ol "></i>&nbsp;{{ 'Agreements' | translate }}
        </a>
        <a *ngIf="isStudent()" [routerLink]="['/applications']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw  fa-id-card-o "></i>&nbsp;{{ 'Completed forms' | translate }}
        </a>
        <a *ngIf="isAdmin()" [routerLink]="['/offer-maker']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw  fa-wpforms "></i>&nbsp;{{ 'Agreement maker' | translate }}
        </a>
        <a *ngIf="isAdmin()" [routerLink]="['/schema-editor']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw  fa-clipboard "></i>&nbsp;{{ 'Schema editor' | translate }}
        </a>
        <a *ngIf="!isStudent()" [routerLink]="['/matrix']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw  fa-id-card-o "></i>&nbsp;{{ 'Matrix' | translate }}
        </a>
        <a *ngIf="isAdmin()" [routerLink]="['/agreements']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw  fa-list-ol "></i>&nbsp;{{ 'Change forms' | translate }}
        </a>
        <a *ngIf="!isStudent()" [routerLink]="['/accepted']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw  fa-file-excel-o "></i>&nbsp;{{ 'Accepted' | translate }}
        </a>
        <a *ngIf="isAdmin()" [routerLink]="['/dwz']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw  fa-file-excel-o "></i>&nbsp;{{ 'DWZ acceptance' | translate }}
        </a>
        <a class="list-group-item more-themes" href="http://www.erasmusplus.agh.edu.pl/" target="_blank">
            {{ 'More info' | translate }}
        </a>
        <a class="list-group-item more-themes" href="http://www.erasmusplus.agh.edu.pl/erasmus-student/dokumenty/" target="_blank">
            {{ 'Documents' | translate }}
        </a>
    </ul>
</nav>
