<div [@routerTransition]>
    <app-page-header [heading]="'Completed forms' | translate" [icon]="'fa-list'"></app-page-header>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-success">
                <div class="alert alert-info" role="alert" *ngIf="currentState !== 'BEFORE_ENROLLMENT'">
                    <div *ngIf="userHasNotSpecifiedDepartment() || isWieitStudent()" >
                        <h2 class="alert-heading"><b>{{'Attention for student from WIEiT department' | translate}}!</b></h2>
                        <h5>{{'The questionnaire should be printed, signed and submitted to the coordinator of the agreement' | translate}}. </h5>
                    </div>
                    <div *ngIf="userHasNotSpecifiedDepartment() || !isWieitStudent()">
                        <h2 class="alert-heading"><b>{{'Attention for student from outside WIEiT student' | translate}}!</b></h2>
                        <h5>{{'The questionnaire should be signed by the student, the Home Department Coordinator and the Dean of the Home Department, and then submitted to the appropriate coordinator of the WIEiT agreement' | translate}}. </h5>
                    </div>
                </div>
                <div class="panel-heading" style="text-align:center; font-size:200%;" *ngIf="currentState === 'ENROLLMENT'">
                    {{'Drag and drop forms to change the order' | translate }}
                </div>
                <div class="alert alert-info" role="alert" *ngIf="currentState !== 'ENROLLMENT'">
                    <h4 class="alert-heading">{{'Attention' | translate}}!</h4>
                    <p>- {{'You cannot change your preferences when enrollment is closed' | translate}}. </p>
                </div>
                <br/>
                <div class="d-flex justify-content-center">
                    <button (click)="savePriorityList()" [disabled]="!applications || applications.length === 0" type="button" class="btn btn-success btn-lg" style="margin:0 15px;;" *ngIf="currentState === 'ENROLLMENT'">
                        {{'Apply changes' | translate }}
                    </button>
                    <div> </div>
                    <button (click)="generatePdfFiles()" type="button" class="btn btn-primary btn-lg" style="margin:0 15px;;" *ngIf="applications && applications.length > 0">
                        {{'Generate pdf files' | translate }}
                    </button>
                </div>
                <br/>
                <div class="panel-body">
                    <ul class="list-group" dnd-sortable-container [sortableData]="applications"
                        [dropZones]="['delete-dropZone']">
                        <li *ngFor="let application of applications; let i = index" class="list-group-item" dnd-sortable
                            [sortableIndex]="i">
                            <div class="row">
                                <div class="col-sm-1">
                                    <h4 class="card-title">{{i+1}}</h4>
                                </div>
                                <div class="col-sm-11">
                                    <div class="card text-black mb-3">
                                        <div class="card-header bg-info" *ngIf="application.status == 'APPROVED' && results.approvedByDwz">
                                            <h5>
                                                {{ application.offerData.country }}, {{application.offerData.universityName }}
                                            </h5>
                                        </div>
                                       <div class="card-header" *ngIf="!(application.status == 'APPROVED' && results.approvedByDwz)">
                                            <h5>
                                                {{ application.offerData.country }}, {{application.offerData.universityName }}
                                            </h5>
                                        </div>
                                        <div class="card-body" [ngStyle]="getRequiredStyles(application.status)">
                                            <h3 *ngIf="application.status == 'APPROVED' && results.approvedByDwz">Status: {{'APPROVED' | translate }}</h3>
                                            <h3 *ngIf="application.status == 'APPROVED' && !results.approvedByDwz">Status: {{'PENDING DWZ APPROVAL' | translate }}</h3>
                                            <h3 *ngIf="application.status == 'EXCLUDED'">Status: {{'EXCLUDED' | translate }}</h3>
                                            <h3 *ngIf="application.status == 'UNKNOWN'">Status: {{'PENDING APPROVAL' | translate }}</h3>
                                            <h3>{{'Planned duration in months' | translate }}: {{application.duration}}</h3>

                                            <button class="btn btn-primary float-right RbtnMargin" (click)="generatePdf(application)">{{'Generate pdf' | translate }}</button>
                                            <button class="btn btn-primary float-right RbtnMargin" (click)="open(content)">{{'Details' | translate }}</button>
                                            <ng-template #content let-c="close" let-d="dismiss">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">{{'Agreement' | translate }}</h4>
                                                    <button type="button" class="close" aria-label="Close"
                                                            (click)="d('Cross click')">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p *ngIf="application.status == 'APPROVED' && results.approvedByDwz">{{'Approval status' | translate }}:
                                                        {{'APPROVED' | translate }}</p>
                                                    <p *ngIf="application.status == 'APPROVED' && !results.approvedByDwz">{{'Approval status' | translate }}:
                                                        {{'PENDING DWZ APPROVAL' | translate }}</p>
                                                    <p *ngIf="application.status == 'EXCLUDED'">{{'Approval status' | translate }}:
                                                        {{'EXCLUDED' | translate }}</p>
                                                    <p *ngIf="application.status == 'UNKNOWN'">{{'Approval status' | translate }}:
                                                        {{'PENDING APPROVAL' | translate }}</p>
                                                    <p>{{'Country' | translate }}: {{application.offerData.country}}</p>
                                                    <p>{{'University Name' | translate }}: {{application.offerData.universityName}}</p>
                                                    <p>{{'Coordinator' | translate }}: {{application.offerData.coordinator}}</p>
                                                    <p *ngIf="application.offerData.departmentCoordinator">
                                                        {{'Department Coordinator' | translate }}:
                                                        {{application.offerData.departmentCoordinator}}</p>
                                                    <p>{{'Department' | translate }}: {{application.offerData.department}}</p>
                                                    <p>{{'Code' | translate }}: {{application.offerData.code}}</p>
                                                    <p>{{'From' | translate }}: {{application.offerData.startYear}} {{'to' | translate }}
                                                        {{application.offerData.endYear}}</p>
                                                    <p *ngIf="application.offerData.duration">{{'Duration' | translate }}:
                                                        {{application.offerData.duration}}</p>
                                                    <p *ngIf="application.offerData.vacancies">{{'Vacancies' | translate }}:
                                                        {{application.offerData.vacancies}}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            (click)="c('Close click')">{{'Close' | translate }}
                                                    </button>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- TODO remove? -->
    <!--<div class="panel-body" dnd-sortable-container [sortableData]="applications">-->
        <!--<div *ngFor="let agreement of applications;let i = index">-->
            <!--<div class="card text-white bg-success mb-3" (click)="open(content)">-->
                <!--<div class="card-header">{{ applications[i].offerData.universityName }}, {{-->
                    <!--applications[i].offerData.country }}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
